/*1. top most*/
#header {
    background-color: #3B464C;
    margin-bottom: 0;
}
/*2. body  EAEDF2*/
#bbody {
    background-color: #dfe4ec;
}
/* movie list*/

/*footer*/
footer {
    background-color: #3B464C;
}
#gglyphicon {
	display: inline;
	font-size: 50px;
}

video {
    width: 100%;
    height: auto;
    max-height: 100%;
}
.bborder {
    border-style: solid;
    border-color: #000;
    border-width: 1px;
}